.gallery {
    min-height: 995px;
    background: url('../img/gallery/gallery_bg.jpg') center center/cover no-repeat;
    .container {
        display: flex;
    }
    &__title {
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    &__left {
        max-width: 400px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-wrapper {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            span {
                font-weight: 600;
                color: #FFFFFF;
            }
        }
    }
    &__info {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }
    &__slider{
        &-triggers {
            display: flex;
            padding-top: 25px;
            margin-bottom: 30px;

        }
        &-counter {
            margin: 0 12px;
            color: #FFFFFF;
        }
        &-left,
        &-right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            font-size: 7px;
            background: #666666;
            border-radius: 100%;
            
        }
    }
    &__slide {
        display: grid;
        grid-template: repeat(2, minmax(auto, 350px))/ repeat(3, minmax(auto, 350px));
        gap: 50px;
        &-btn {
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .choices,
    .choices.is-focused,
    .choices__item.choices__item--selectable {
        border: none;
        background: transparent;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        opacity: 1;
        text-align: left;

    }
    .choices {
        border: 2px solid #FFFFFF;
        border-radius: 5px;
        
    }
    .choices__item.choices__item--selectable:hover {
        color: #9D5CD0;
    }
    .choices__item.choices__item--selectable:active {
        color: #7943A4;
        background: transparent;
    }
    .choices.is-focused{
        background: #7943A4;
    }
    .choices.is-open > .choices__list--single{
        color: #7943A4;
    }
    .choices__inner {
        background-color: transparent;
        border: none;
    }
    .choices__list--single {
        padding-right: 30px;
    }
    .choices__list {
        border: none;
        background: transparent;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: normal;
        color: #FFFFFF;
        opacity: 1;
    }
    
    .choices__placeholder {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        opacity: 1;
    }
    .choices[data-type*=select-one]:after {
        border: none;
        background: url('../icons/gallery-select.svg') center right no-repeat;
        width: 22px;
        height: 12px;
        right: 15px;
        opacity: 1;
        transform: translateY(-35%);
    }
    .choices[data-type*=select-one].is-open:after {
        transform: rotate(180deg) translateY(-35%) ;
    }
    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: #D1A9F0;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 25px;
    }
    .choices__list--dropdown .choices__item--selectable {
        padding-right: 0;
        text-align: left;
    }

}